.HelpAssets {
    padding: 16px;
}

.HelpAssets h2 {
    text-transform: capitalize;
    font-size: 32px;
    font-weight: 500;
}

.HelpAssets_description {
    font-size: 14px;
    color: #545454;
}

.HelpAssets_items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    margin-top: 24px;
}

.HelpAssets_item {
    background-color: #fafafa;
    box-shadow: 0px 0px 16px 0px rgb(2 12 17 / 15%);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    text-align: center;
    font-size: 18px;
    border-radius: 8px;
}