.Layout {
    width: 100%;
    overflow: scroll;
    /* background: linear-gradient(to right, rgba(250, 255, 209, 1), rgba(161, 255, 206, 1)); */
}

.Layout-content {
    min-height: calc(100vh - 70px);
    overflow: scroll;
}